<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lbyp24.breastcancerawareness" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/myicon"
        android:label="Hygeia"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashScreen"
            android:label="Hygeia"
            android:noHistory="true"
             >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="Hygeia" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".WhatToHappen"/>
        <activity android:name=".WhatToKnow"/>
        <activity android:name=".Survivor"
            android:configChanges="orientation|screenSize"/>
        <activity android:name=".WhatToHappenX"
            android:configChanges="orientation|screenSize"/>
    </application>

</manifest>
